[etcd]
ETCD_IP	ansible_user='SUDO_USER'

[masters]
MASTERS_IP ansible_user='SUDO_USER'

[nodes]
NODES_IP ansible_user='SUDO_USER'

[harbor]
HARBOR_IP ansible_user='SUDO_USER'

[gpu_nodes]
GPU_IP ansible_user='SUDO_USER'
