
{% macro initial_cluster() -%}
{% for host in groups[ETCD_PEER_GROUP] %}
{{ hostvars[host]['ansible_hostname'] }}={{ ETCD_PEER_URL_SCHEME }}://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:{{ ETCD_PEER_PORT }}
{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}

# [member]
ETCD_NAME={{ ansible_hostname }}
ETCD_DATA_DIR="{{ ETCD_DATA_DIR }}"
ETCD_LISTEN_PEER_URLS="https://{{ ansible_default_ipv4.address }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379"

#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ ansible_default_ipv4.address }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ ansible_default_ipv4.address }}:2379"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER="{{ initial_cluster() }}"
