kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
address: {{ ansible_default_ipv4.address }}
port: 10250
readOnlyPort: 10255
cgroupDriver: cgroupfs
clusterDNS: ["{{CLUSTER_DNS}}"]
clusterDomain: cluster.local.
failSwapOn: false
authentication:
  anonymous:
    enabled: true
